<footer>
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md-3 col-xm-6 col-xs-12 text-light">
                <h2 class="fs-4 fw-bold">Contact</h2>
                <p>
                    <a target="_blank" class="link-light" href="https://www.clir.org/">Council on Library and Information Resources</a><br>
                    1800 Diagonal Rd <br>
                    Suite 600<br>
                    Alexandria, VA 22314
                </p>
            </div>
            <div class="col-md-3 col-xm-6 col-xs-12 text-light">
                <h2 class="fs-4 fw-bold">Resources</h2>
                <ul class="list-unstyled">
                    <li><a class="link-light" target="_blank" href="https://sustainablewebdesign.org/">Sustainable Web Design</a></li>
                
                </ul>
            </div>
            <div class="col-md-3 col-xm-6 col-xs-12">
            </div>

            <div class="col-md-3 col-xm-6 col-xs-12">
                
            </div>
        </div>
    </div>
</footer>