<meta charset="utf-8" />
<title>{{ title }}</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
	name="description"
	content="{{ description or renderData.description or site.description }}"
/>

<meta
	property="og:title"
	content="{{ title or renderData.title or metadata.title or site.title }}"
/>
<meta property="og:type" content="{{seo.type or 'website' }}" />
<meta property="og:url" content="{{ page.url | url }}" />
<meta
	property="og:description"
	content="{{ description or renderData.description or site.description }}"
/>
<meta property="og:image" content="{{ '/assets/images/icon.png' | url }}" />

<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<link rel="apple-touch-icon" href="{{ '/assets/images/icon.png' | url }}" />
<link
	rel="icon"
	type="image/png"
	href="{{ '/assets/images/icon.png' | url }}"
/>
<meta name="theme-color" content="{{ metadata.themecolor }}" />
