<script type="module" src="{{ '/assets/js/main.js' | url }}"></script>

<script
	async
	src="https://www.googletagmanager.com/gtag/js?id=G-72ZZCRC8G8"
></script>
<script>
	window.dataLayer = window.dataLayer || []
	function gtag() {
		dataLayer.push(arguments)
	}
	gtag('js', new Date())
	gtag('config', '{{ metadata.uakey }}')
</script>
