<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  {% include 'head.njk' %} 
</head>

<body>
  {{ content | safe }}

  {% include 'footer.njk' %}
  {% include 'scripts.njk' %}
</body>

</html>