---
layout: page
title: About
height: 40vh
hero_bg: assets/images/shutterstock_1040400583-scaled.jpg
eleventyNavigation:
  key: About
  order: 2
---

<div class="container my-5 py-4 border-bottom">
	<h2 class="fs-1 fw-bold">About Pangia</h2>
	<p>
		Pangia will provide a repository and discovery environment focused on the
		loss of our human and natural heritage resulting from the climate crisis.
		Currently in an exploratory phase of development, Pangia will initially
		focus on the following aspects of climate change: essential scientific data,
		anticipated cultural impacts, and expected social impacts that result from
		climate-related relocation or migration. When viewed through the lens of
		Pangia, all entries will appear with the global whole, providing an
		unprecedented ecosystem for research, teaching, discovery, and the
		enrichment of human capacity.
	</p>
</div>

<div class="container my-5 py-4 border-bottom">
	<h2 class="fs-1 fw-bold">The Name</h2>
	<p>
		Pangia is a play on the geological term Pangaea, an ancient supercontinent
		that included all present-day continents in a single landmass. The i in
		Pangia stands for information and signifies its capacity to reconnect our
		world digitally—of being able to walk from one end of the earth to the
		other, metaphorically, without impedance.
	</p>
</div>

<div class="container my-5 py-4 border-bottom">
	<h2 class="fs-1 fw-bold">How Pangia is Different</h2>
	<p>
		Pangia will offer an integrated, open, and trusted database for information
		that is built to be more current, collaborative, and comprehensive than the
		current data environment. It will:
	</p>
	<ul>
		<li>
			<strong>Speed research</strong> by creating an openly accessible discovery
			tool to document, cross-search, and link to large quantities of
			material—reports, videos, standards, blogs, datasets, and other previously
			inaccessible items.
		</li>
		<li>
			<strong>Build informed discourse</strong> by providing unique identifiers
			so that uncatalogued items may be easily cited and made part of scholarly,
			student, and lay discourse.
		</li>
		<li>
			<strong>Preserve content</strong> by enabling faculty and other interested
			parties to upload content and suggest links for inclusion. Where rights
			allow, Pangia will save copies to ensure access.
		</li>
		<li>
			<strong>Enrich content</strong> by making it possible to extract tabular
			data, graphs, charts, and other items within documents for export into
			other systems so that they can be further analyzed. Pangia will tag items
			so that they are easier to find. This additional metadata is made
			available via an API for others to harvest, embed, and otherwise use.
		</li>
		<li>
			<strong>Build collaboration and engagement</strong> by pointing back to
			original items on source websites, where possible. Pangia users can
			upload, comment, tag or, otherwise annotate records for free. Third
			parties can harvest metadata and links to present it on their websites,
			potentially spreading the material across hundreds of sites. Content
			contributed to Pangia remains the responsibility of the country, region,
			or organization of origin.
		</li>
		<li>
			<strong>Present and shape opinion</strong> by enabling individuals to
			create micro websites and publications that use these items.
		</li>
	</ul>
</div>
